.senita{
    text-align: center;
    margin-top: -3%;
}

.Titulo{
    text-align: center;
    font-size: 200%;
    font-family:'Trebuchet MS';
    padding: 40px;
}

.contenedor{
    background-image: url(https://fondosmil.com/fondo/36866.jpg);
    -webkit-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-top: -5.5%;
    font-size: 140%;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    }

.cajon{
  width:100%;
  background: #fff;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  padding: 0 3px 0 10px;
  transition: .3s ease all;
  border: 3px solid transparent;
  
}

.boton{
    background-color: black; 
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.el{
    width: 80%; 
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.div{
    width: 85%;
    margin: auto;
    text-align: center;
}

.cosito{
    width:30%;
    margin: auto;
    text-align:center;
    font-family:'Trebuchet MS';
    font-size: 80%;
    background-color: #999999 ;
    border-radius: 3%;
    padding: 50px;
    margin-top: -3%;
}

.cajita{
    font-size: 80%;
    text-align: justify;
}

.grupodiv{
    position: relative;
    z-index: 90;
}

.emoji{
    position:absolute;
    right: 10px;
    bottom: 14px;
    z-index: 100;
    font-size:16px;
    opacity: 0;
}